certifi==2020.6.20
click==8.0.4
colorama==0.4.4
cycler==0.11.0
Flask==2.0.3
fonttools==4.33.3
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.4.2
MarkupSafe==2.0.1
matplotlib==3.5.2
munkres==1.1.4
numpy==1.22.4
opencv-python==4.5.5
packaging==21.3
pandas==1.4.2
Pillow==9.0.1
pip==22.1.2
pyparsing==3.0.9
PyQt5==5.15.4
PyQt5-sip==12.9.0
python-dateutil==2.8.2
pytz==2022.1
setuptools==62.3.4
sip==6.5.1
six==1.16.0
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
Werkzeug==2.0.3
wheel==0.37.1